<h1>Congrats, it's all yours!</h1>

<p>
  You've claimed "<%= @item.title %>"  from the giveaways at 
  <code>moving.jordans.casa</code>.
</p>
<p>
  <%= link_to "Here's a quick link back to it.", item_url(@item) %>
</p>
<p>
  If you change your mind, head back there and release it so that others can
  pick it up. 💪
</p>

<p>Thanks for checking out our stuff!!</p>

<p>— A&M</p>