<div class="readable">
  <img class="hero-img" src="<%= @cover_photo_url %>" />

  <blockquote>
    <h2>Welcome! ✌🏻</h2>
    <p>You've heard correctly, The Jordan's are packing up and moving west! We've got our sights set on Portland, Oregon and hope that it will be everything we've dreamed of and more.</p>
    <p>The cooler weather, the proximity to mountains, and long-term opportunity there look unmatched to us at the moment.</p>
    <p>A ton of stuff is happening between here and there, have a look below!</p>
  </blockquote>

  <article style="margin-top:36px">
    <h3>Events</h3>
    <p>
      It turns out there's a lot to do between the decision to move 
      cross-country and the actual move happening. <em>Who would've thought??</em>
    </p>
    <%= link_to "Learn more and RSVP", events_path %>
  </article>

  <article>
    <h3>Item Giveaways</h3>
    <p>
      There's a lot of stuff we either can't or plainly <strong>don't want</strong>
      to take with us for 2,300 miles. This is greatᵀᴹ for you, as it presents 
      numerous opportunities to claim new-to-you stuff.
    </p>
    <%= link_to "Get some new stuff", items_path %>
  </article>

  <article>
    <h3>Newsletter</h3>
    <p>
      Interested in keeping up with us post-move? Join our newsletter and we'll
      offer you all sorts of updates in the future.
    </p>
    <p>(This link doesn't go anywhere yet but it's totally going to get made...)</p>
    <%= link_to "Check it out", root_path %>
  </article>
</div>