<p style="color: green"><%= notice %></p>

<% content_for :title, "Events" %>

<div class="flex-left mb">
  <h1>Events</h1>
  <% if Current.user.is_admin? %>
    <%= link_to "Create New", new_event_path %>
  <% end %>
</div>

<%# https://dribbble.com/shots/18706766-Evently-A-Calendar-UI-Exploration %>
<div id="events">
  <% @events.each do |event| %>
    <article id="<%= dom_id event %>" class="event-card flex-left">
      <%= render event %>
    </article>
  <% end %>
</div>
